
<div class="container">
    
    <div class="container container-fluid">
        <table class="table table-secondary table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">Make</th>
                    <th scope="col">Model</th>
                    <th scope="col">Year</th>
                    <th scope="col">Image</th>
                </tr>
                <tr *ngFor="let car of cars">
                    <td scope="col">{{car.make}}</td>
                    <td scope="col">{{car.model}}</td>
                    <td scope="col">{{car.year}}</td>
                    <td scope="col"><img height="200" width="300" src={{car.img_url}} alt=""></td>
                </tr>
    
            </thead>
        </table>
    </div>
    
    <form [formGroup]= "carForm" (ngSubmit)="addCar()">
        <div  class="form-group">
            <label>Make: </label>
            <input formControlName="make" type="text" id="make" > 
            <span class="error-message" *ngIf="!carForm.controls['make'].valid && carForm.controls.make.dirty">Field required</span>
        </div>
        <div class="form-group">
            <label>Model: </label>
            <input formControlName="model" type="text" id="model" > 
            <span class="error-message" *ngIf="!carForm.controls['model'].valid && carForm.controls.model.dirty">Field required</span>
        </div>
        <div class="form-group">
            <label>Year: </label>
            <input formControlName="year" id="year" type="text" > 
            <span class="error-message" *ngIf="!carForm.controls['year'].valid && carForm.controls.year.dirty">Field required</span>
        </div>
        <div class="form-group">
            <label>Image URL: </label>
            <input formControlName="img_url" id="img_url" type="text" > 
        </div>
        <button class="btn-primary" type="submit">Add</button>
    </form>
    <div *ngIf="errorMessage!=null">
        <span class="text-danger">{{errorMessage}}</span>
      </div>
      <div *ngIf="successMessage!=null">
        <span class="text-success">{{successMessage}}</span>
      </div>
</div>
<router-outlet></router-outlet>